<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/new.css">
<%- include('../partials/nav') %>

<h1 class="form-title"><%= title %></h1>

<main class="form-container">
  <div class="new-form-container" style="display: flex; justify-content: center; align-items: center;">  
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
      <label for="stage-input" name="stage">Photo Life Stage</label>
      <br>
      <select name="stage" id="stage-type">
        <option value="Puppy">Puppy</option>
        <option value="Adult">Adult</option>
        <option value="Sage">Sage</option>
      </select>
      <br><br>
      <div class="photo-input">
      <label>Photo</label>
        <br>
        <input
        type="string"
        name="photo"
        id="edit-photo-input"
        value="<%= post.photo %>"
        >
      </div>
      <br><br>
      <label>
        Post Story
        <br>
        <textarea cols="50" rows="10"
        type="text"
        name="description"
        autocomplete="off"
        ><%= post.description %></textarea>
      </label>
      <br><br>
      <label>
        <div class="publish-btn">
        <button class="publish-btn" type="submit">Update Post 📧</button>
        </div>
      </label>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>