<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/new.css">
<%- include('../partials/nav') %>

<h1 class="form-title"><%= title %></h1>

<main>
  <div class="form-container">
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
      <label for="stage-input" name="stage">Photo Life Stage</label>
      <br>
      <select name="stage" id="stage-type">
        <option value="Puppy">Puppy</option>
        <option value="Adult">Adult</option>
        <option value="Sage">Sage</option>
      </select>
      <br><br>
      <label>
        Photo
        <br>
        <input
        type="string"
        name="photo"
        value="<%= post.photo %>"
        >
      </label>
      <br><br>
      <label>
        Post Story
        <br>
        <textarea cols="50" rows="10"
        type="text"
        name="description"
        autocomplete="off"
        ><%= post.description %></textarea>
      </label>
      <br><br>
      <label>
        <button type="submit">Update Post 📧</button>
      </label>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>