<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<%- include('../partials/nav') %>

<h1 class="index-h1"><%= title %></h1>

<section class="scroller">
  <main>
    <div class="posts-container">
      <% posts.forEach(post => { %>
        <div class="post-card">
          <div class="author">
            <img id="avatar" src="<%= post.author.avatar %>" alt="user profile image">
            <h4><%= post.author.name %></h4>
          </div>
          <img id="post-photo" src="<%= post.photo %>" alt="A picture of a sweet pet">
          <div class="button-container">
            <a href="/posts/<%= post._id %>"><button class="details-button">See Post 🔎</button></a>
          </div>
        </div>
      <% }) %>
    </div>
  </main>
</section>

<%- include('../partials/footer') %>