<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/posts/show.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script defer src="/javascripts/javascript.js"></script>
<%- include('../partials/nav') %>

  <h1><%= title %></h1>
  <div class="post-container">
    <div class="my-pawmily">
      <h2>My PawMily</h2>
    </div>
    <div post="post-card">
      <div class="author">
        <h3>Author: <img src="<%= post.author.avatar %>" alt="user profile image"><%= post.author.name %></h3>
        <img class="post-photo" src="<%= post.photo %>" alt="A picture of a sweet pet">
        <p><%= post.content %></p>
      </div>
      <div class="post-stats">
        <h6><%= post.date.toLocaleString('en-US', {weekday: 'long', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: 'numeric'}) %></h6>
        <div class="rating-selected">
          <span class="post-rating-button material-icons-outlined">favorite</span>
          <span class="post-rating-count">0</span>
        </div>
        <div class="button-container">
          <% if (post.author._id.equals(user.profile._id)) { %>
            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
              <button class="edit-button">Edit ✎</button>
              <button class="delete-button">Delete 🗑️</button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  
<%- include('../partials/footer') %>
